* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B2434;
}

#root {
  background-color: #F5F5F5;
  margin: 3rem;
  border-radius: 1rem;
  height: 85vh;
}

main {
  padding: 2rem;
}